name: build-and-test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  JsonDiffPatchSolutionPath: ./SystemTextJson.JsonDiffPatch.sln
jobs:
  build:
    strategy:
      matrix:
        build-configuration: [ Debug, Release ]
        test-target-framework: [ net8.0, net7.0, net6.0 ]
    name: Build And Test (${{ matrix.test-target-framework }}, ${{ matrix.build-configuration }})
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup DotNet
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            8.x
            7.x
            6.x
      - name: Restore
        run: dotnet restore ${{ env.JsonDiffPatchSolutionPath }}
      - name: Build
        run: dotnet build -c ${{ matrix.build-configuration }} --no-restore ${{ env.JsonDiffPatchSolutionPath }}
      - name: Test
        run: dotnet test -c ${{ matrix.build-configuration }} -f ${{ matrix.test-target-framework }} --no-restore --no-build ${{ env.JsonDiffPatchSolutionPath }}

